# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
node_modules

# misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# next
.next
out

dist
*.sqlite3*
